<div class="main-container d-flex panel">
    <app-panel-sidebar></app-panel-sidebar>

    <div class="content">

       <app-panel-navbar></app-panel-navbar>

        <div class="dashboard-content">
            <div class="main-container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card select2-card">
                            <select id="selectCompany" class="select2" [(ngModel)]="selectedCompany">
                                <option [value]=0>My Companies</option>
                                <option [value]="company.id" *ngFor="let company of companies">{{ company.title }}
                                </option>

                            </select>

                        </div>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-md-5">
                        <div class="card p-4 mt-2">
                            <h1 class="h3">
                                My Departments                           
                                <i class="bi bi-collection"></i>
                            </h1>
                            <p class="badge-count">{{departmentCount}}</p>
                        </div>
                    </div>
                    
                    <div class="col-md-5">
                        <div class="card p-4 mt-2">
                            <h1 class="h3">
                                My Emploeyees                                
                                <i class="bi bi-person"></i>
                            </h1>
                            <p class="badge-count">{{employeeCount}}</p>
                        </div>
                    </div>
                </div>              
            </div>
        </div>

    </div>
</div>