<div class="main-container d-flex panel">
    <app-panel-sidebar></app-panel-sidebar>
    <div class="content">

        <app-panel-navbar></app-panel-navbar>

        <div class="dashboard-content">
            <div class="main-container">
                <div class="row">

                    <div class="col-md-8 mt-3">

                        <h1 class="h3">Update Your Company</h1>
                        <hr>
                        <p class="text-muted">You can instantly update your company's receipt</p>
                        <div [class.d-none]="!info">
                            <div class="alert alert-{{infoColor}} text-center" *ngIf="info != ''">
                                {{info}}
                            </div>
                        </div>

                        <div class="mt-3">

                            <form #form="ngForm" (ngSubmit)="update(form)">
                                <div class="mb-3">
                                    <input type="text" class="form-input" placeholder="Title" name="title"
                                        [(ngModel)]="company.title" required #title="ngModel">
                                    <div class="text-danger mt-1" *ngIf="title.invalid && title.touched">
                                        Title is required
                                    </div>
                                </div>


                                <div class="mb-3">
                                    <input type="text" class="form-input" placeholder="Address"
                                        [(ngModel)]="company.address" name="address" #address="ngModel">
                                </div>

                                <div class="mb-3">
                                    <input type="text" class="form-input" placeholder="Description"
                                        [(ngModel)]="company.description" name="description" #description="ngModel">
                                </div>

                                <div class="mb-3">
                                    <input type="text" class="form-input" placeholder="Web Site" [(ngModel)] = "company.webSite" name="webSite"
                                        #webSite="ngModel">
                                </div>

                                <div class="text-center mt-2">
                                    <div class="spinner-border" *ngIf="loading"></div>
                                </div>

                                <div *ngIf="!loading" class="">
                                    <button type="submit">Update company</button>
                                </div>

                            </form>

                        </div>

                    </div>
                    <div class="col-md-4 mt-3">
                        <img src="../assets/images/maskot/2.png" alt="maskot">
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>