<div class="left-side-bar">

    <div class="modal-header justify-content-center d-flex">
        <a routerLink="/panel">
            <img src="../assets/images/logo-white.png" alt="Logo">
            <span class="close-btn d-md-none">X</span>
        </a>
    </div>

    <hr>
    <ul>
        <li><a routerLink="/panel/kategori-ekle"><i class="fa-solid fa-inbox"></i>Create Company</a></li>
        <li><a routerLink="/panel/kategoriler"><i class="fa-solid fa-pen-to-square"></i>My Companies</a></li>
        <li><a routerLink="/panel/urun-ekle"><i class="fa-solid fa-plus"></i>Create Department</a></li>
        <li><a routerLink="/panel/urunler"><i class="fa-solid fa-pencil"></i>Departmens</a></li>
        <li><a routerLink="/panel/qr-code-al"><i class="fa-solid fa-qrcode"></i>Create Employee</a></li>
        <li><a routerLink="/panel/qr-code-al"><i class="fa-solid fa-pencil"></i>Employees</a></li>
        <hr>
        <li><a routerLink=""><i class="fa-regular fa-user"></i>Profil</a></li>
    </ul>

</div>


<!-- Mobil size -->

<!-- Modal -->
<div class="modal fade" id="left_side_bar_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <img src="../assets/images/logo-white.png" alt="Logo">
            </div>

            <div class="modal-body">
                <ul>
                    <li><a routerLink="/panel/kategori-ekle"><i class="fa-solid fa-inbox"></i>Create Company</a></li>
                    <li><a routerLink="/panel/kategoriler"><i class="fa-solid fa-pen-to-square"></i>My Companies</a>
                    </li>
                    <li><a routerLink="/panel/urun-ekle"><i class="fa-solid fa-plus"></i>Create Department</a></li>
                    <li><a routerLink="/panel/urunler"><i class="fa-solid fa-pencil"></i>Departmens</a></li>
                    <li><a routerLink="/panel/qr-code-al"><i class="fa-solid fa-qrcode"></i>Create Employee</a></li>
                    <li><a routerLink="/panel/qr-code-al"><i class="fa-solid fa-pencil"></i>Employees</a></li>
                    <hr>
                    <li><a routerLink=""><i class="fa-regular fa-user"></i>Profil</a></li>
                </ul>


            </div>


        </div>
    </div>
</div>