<div class="nav-hor">
    <div class="mobile">
        <a routerLink="/panel">
            <img src="../assets/images/logo.png" alt="logo">
        </a>        
        <div class="nav-items">
            <div class="mobile-toggler open-btn">
                <a data-bs-toggle="modal" data-bs-target="#left_side_bar_modal">
                    <i class="bi bi-list-nested"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="computer">        
        <ul>            
            <li><i class="bi bi-person"></i></li>
        </ul>
    </div>
</div>