<div class="main-container d-flex panel">
    <app-panel-sidebar></app-panel-sidebar>
    <div class="content">

        <app-panel-navbar></app-panel-navbar>

        <div class="dashboard-content">
            <div class="main-container">
                <div class="row justify-content-center">
                   
                    <div class="col-md-8 mt-3">



                        <h1 class="h3">Welcome to Time Tag</h1>
                        <hr>
                        <p>You can register company to system with your licanceKey</p>
                        <div [class.d-none]="!info">
                            <div class="alert alert-{{infoColor}} text-center" *ngIf="info != ''">
                                {{info}}
                            </div>
                        </div>

                        <div class="mt-3">

                            <form #form="ngForm" (ngSubmit)="login(form)">
                                <div class="mb-3">
                                    <input type="text" class="form-input" placeholder="Title" name="title" ngModel
                                        required #title="ngModel">
                                    <div class="text-danger mt-1" *ngIf="title.invalid && title.touched">
                                        Title is required
                                    </div>
                                </div>


                                <div class="mb-3">
                                    <input type="text" class="form-input" placeholder="Address" ngModel name="address"
                                        #address="ngModel">
                                </div>

                                <div class="mb-3">
                                    <input type="text" class="form-input" placeholder="Description" ngModel
                                        name="description" #description="ngModel">
                                </div>

                                <div class="mb-3">
                                    <input type="text" class="form-input" placeholder="Web Site" ngModel name="webSite"
                                        #webSite="ngModel">
                                </div>

                                <div class="mb-3">
                                    <input type="text" class="form-input" placeholder="Licance key" name="licanceKey"
                                        ngModel required #licanceKey="ngModel">
                                    <div class="text-danger mt-1" *ngIf="licanceKey.invalid && licanceKey.touched">
                                        Licance key is required
                                    </div>
                                </div>

                                <div class="text-center mt-2">
                                    <div class="spinner-border" *ngIf="loading"></div>
                                </div>

                                <div *ngIf="!loading" class="">
                                    <button type="submit">Create company</button>
                                </div>

                            </form>

                        </div>

                    </div>
                    <div class="col-md-4 mt-3">
                        <img src="../assets/images/maskot/6.png" alt="maskot">
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>